<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoohoo.en.dao.mapper.TMessageMapper" >
  <resultMap id="BaseResultMap" type="com.yoohoo.en.dao.model.TMessage" >
    <id column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_type" property="uType" jdbcType="INTEGER" />
    <result column="m_type" property="mType" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yoohoo.en.dao.model.TMessage" extends="BaseResultMap" >
    <result column="cotent" property="cotent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    m_id, u_id, u_type, m_type, add_time, `status`
  </sql>
  <sql id="Blob_Column_List" >
    cotent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yoohoo.en.dao.model.TMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoohoo.en.dao.model.TMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_message
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_message
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yoohoo.en.dao.model.TMessageExample" >
    delete from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yoohoo.en.dao.model.TMessage" useGeneratedKeys="true" keyProperty="mId" >
    insert into t_message (u_id, u_type, m_type, 
      add_time, `status`, cotent
      )
    values (#{uId,jdbcType=INTEGER}, #{uType,jdbcType=INTEGER}, #{mType,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{cotent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yoohoo.en.dao.model.TMessage" useGeneratedKeys="true" keyProperty="mId" >
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uType != null" >
        u_type,
      </if>
      <if test="mType != null" >
        m_type,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="cotent != null" >
        cotent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uType != null" >
        #{uType,jdbcType=INTEGER},
      </if>
      <if test="mType != null" >
        #{mType,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cotent != null" >
        #{cotent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yoohoo.en.dao.model.TMessageExample" resultType="java.lang.Integer" >
    select count(*) from t_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_message
    <set >
      <if test="record.mId != null" >
        m_id = #{record.mId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.uType != null" >
        u_type = #{record.uType,jdbcType=INTEGER},
      </if>
      <if test="record.mType != null" >
        m_type = #{record.mType,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.cotent != null" >
        cotent = #{record.cotent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_message
    set m_id = #{record.mId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      u_type = #{record.uType,jdbcType=INTEGER},
      m_type = #{record.mType,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      `status` = #{record.status,jdbcType=INTEGER},
      cotent = #{record.cotent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_message
    set m_id = #{record.mId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      u_type = #{record.uType,jdbcType=INTEGER},
      m_type = #{record.mType,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      `status` = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoohoo.en.dao.model.TMessage" >
    update t_message
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="uType != null" >
        u_type = #{uType,jdbcType=INTEGER},
      </if>
      <if test="mType != null" >
        m_type = #{mType,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="cotent != null" >
        cotent = #{cotent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yoohoo.en.dao.model.TMessage" >
    update t_message
    set u_id = #{uId,jdbcType=INTEGER},
      u_type = #{uType,jdbcType=INTEGER},
      m_type = #{mType,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      cotent = #{cotent,jdbcType=LONGVARCHAR}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoohoo.en.dao.model.TMessage" >
    update t_message
    set u_id = #{uId,jdbcType=INTEGER},
      u_type = #{uType,jdbcType=INTEGER},
      m_type = #{mType,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <sql id="MysqlDialectSuffix" >
    <if test="pageHelper != null" >
      <![CDATA[ limit #{pageHelper.begin}, #{pageHelper.length}]]>
    </if>
  </sql>
  <insert id="insertBatch" parameterType="com.yoohoo.en.dao.model.TMessage" >
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      m_id,u_id,u_type,m_type,add_time,status,cotent,
    </trim>
    values
    <foreach collection="list" index="index" item="item" separator="," >
      (
      <trim suffixOverrides="," >
        #{item.mId,jdbcType=INTEGER},#{item.uId,jdbcType=INTEGER},#{item.uType,jdbcType=INTEGER},#{item.mType,jdbcType=INTEGER},#{item.addTime,jdbcType=TIMESTAMP},#{item.status,jdbcType=INTEGER},#{item.cotent,jdbcType=LONGVARCHAR},
      </trim>
      )
    </foreach>
  </insert>
</mapper>