html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 100% 263px;
    background-color: #EDF6F6;
}

i {
    font-style: normal

}

*:focus {
    outline: none;
}

.main {
    width: 72%;
    min-height: 80%;
    max-width: 1200px;
    border-radius: 30px;
    background-color: #DFFAFB;
    margin: 28px auto;
    -webkit-box-shadow: 0 0 10px #80C7CB;
    box-shadow: 0 0 10px #80C7CB;
    overflow: auto;
    position: relative;
}

.main::-webkit-scrollbar {
    width: 0;
}

.main .top-left-bg {
    width: 125px;
    height: 38px;
    background-image: url("../img/top-left-bg.png");
    background-size: 100% 100%;
    position: absolute;
    left: 50px;
    top: 2px;
}

.main .top-right-bg {
    width: 113px;
    height: 39px;
    background-image: url("../img/top-right-bg.png");
    background-size: 100% 100%;
    position: absolute;
    right: 10px;
    top: 2px;
}

.input-common{
    width: 160px;
    height: 35px;
    border: 1px solid #CCCCCC;
    padding: 0 0 0 5px;
}

[v-cloak] { display: none }